@import '~office-ui-fabric-react/dist/sass/References.scss';

.richTextWithMention {

  .mention {
    background-color: $ms-color-themeLighterAlt;

    display: inline-block;
    height: auto;
    width: auto;

    padding: 2px 0 0 0;

    vertical-align: bottom;
    white-space: nowrap;
  }

  .mentionsContainer {
    padding: 3px;
    cursor: pointer;

    &:hover {
      background-color: $ms-color-themeLighterAlt;
    }
  }

  .personLarge {
    --avatar-size-s: 48px;
  }

  .personSmall {
    --avatar-size-s: 24px;
  }

  // styles to apply when rendering in read-only mode
  .container {
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.3;

    p {
        margin-block-start: .5em;
        margin-block-end: .5em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
  }

  // import global CSS styles for Quill and Quill mention
  :global {
    @import 'node_modules/react-quill/dist/quill.snow.css';
    @import 'node_modules/quill-mention/dist/quill.mention.esm.css';

    .ql-container.ql-snow {
      font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
      font-size: 17px;
      font-weight: 300;
      line-height: 1.3;

      p {
        margin-block-start: .5em;
        margin-block-end: .5em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }
    }

    .ql-editor {
      overflow-y: visible;
    }
  }
}
