@import '~office-ui-fabric-react/dist/sass/References.scss';

.tableOfContents {

  a {
    color: "[theme: accent, default: #0078d7]";
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: "[theme: accent, default: #0078d7]";
    }
  }

  // hide on medium screens and smaller
  .hideInMobileView {
    @include ms-screen-lg-down {
      display: none !important;
    }
  }
}
